menu "MY PROJECT configuration"

config MY_LED_ON_DEVBOARD_GPIO_NUM
    int "LED on-board GPIO# (Huzzah32 #13) (Lolin32lite #22)"
	default 13

config MY_LED_ON_DEVBOARD_WIRING_TYPE
    int "LED on-board wiring type (Huzzah32 1=GND) (Lolin32lite 2=VCC)"
	default 1

config MY_ADS1115_I2C_SLAVE_ADDRESS
    hex "MY_ADS1115_I2C_SLAVE_ADDRESS (Default 0x48)"
    default 0x48

config MY_ADS1115_I2C_MASTER_PORT_NUM
    int "MY_ADS1115_I2C_MASTER_PORT_NUM (0 = I2C_NUM_0 | 1 = I2C_NUM_1)"
    default 0

config MY_ADS1115_I2C_SCL_GPIO_NUM
    int "MY_ADS1115_I2C_SCL_GPIO_NUM (Huzzah32 #21=bottomleft)"
    default 21

config MY_ADS1115_I2C_SDA_GPIO_NUM
    int "MY_ADS1115_I2C_SDA_GPIO_NUM (Huzzah32 #17=bottomleft-1)"
    default 17
    
config MY_ADS1115_ALERT_READY_GPIO_NUM
    int "MY_ADS1115_ALERT_READY_GPIO_NUM (-1=not used)(Huzzah32 #16=bottomleft-2)"
    default -1

###
### 
choice MY_ADS1115_DATA_RATE
    prompt "Data Rate, Samples Per Second"
    default MY_ADS1115_DATA_RATE_8_SPS
config MY_ADS1115_DATA_RATE_8_SPS
    bool "8 SPS"
config MY_ADS1115_DATA_RATE_64_SPS
    bool "64 SPS"
config MY_ADS1115_DATA_RATE_128_SPS
    bool "128 SPS"
config MY_ADS1115_DATA_RATE_475_SPS
    bool "475 SPS"
config MY_ADS1115_DATA_RATE_860_SPS
    bool "860 SPS"
endchoice
config MY_ADS1115_DATA_RATE
    int
    default 0 if MY_ADS1115_DATA_RATE_8_SPS
    default 3 if MY_ADS1115_DATA_RATE_64_SPS
    default 4 if MY_ADS1115_DATA_RATE_128_SPS
    default 6 if MY_ADS1115_DATA_RATE_475_SPS
    default 7 if MY_ADS1115_DATA_RATE_860_SPS

endmenu
