#
# Partition Table ***CUSTOM FOR THIS PROJECFT esp32_nvs_basics***
#
CONFIG_PARTITION_TABLE_SINGLE_APP=
CONFIG_PARTITION_TABLE_TWO_OTA=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_esp32_nvs_basics.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_PARTITION_TABLE_FILENAME="partitions_esp32_nvs_basics.csv"
CONFIG_APP_OFFSET=0x10000
CONFIG_PARTITION_TABLE_MD5=y

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_1MB=
CONFIG_ESPTOOLPY_FLASHSIZE_2MB=
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y

#
# Compiler options
#
CONFIG_OPTIMIZATION_LEVEL_DEBUG=y
CONFIG_OPTIMIZATION_LEVEL_RELEASE=

CONFIG_STACK_CHECK_NONE=
CONFIG_STACK_CHECK_NORM=
CONFIG_STACK_CHECK_STRONG=
CONFIG_STACK_CHECK_ALL=y
CONFIG_STACK_CHECK=y

#
##
# OPTIONAL Component => ESP-32 Specific => UART... (TX RX ports are specific for Adafruit HUZZAH32)
#   @doc https://esp-idf.readthedocs.io/en/latest/api-reference/kconfig.html#envvar-CONFIG_CONSOLE_UART
#   Config meteohub for RobotDyn USBUART so I can monitor execution whilst powered by the battery (no USB link then).
#   @cmd make menuconfig:
#           UART for console output (Custom)
#           UART peripheral to use for console output (0-1) (UART0)
#           (22) UART TX on GPIO#
#           (23) UART RX on GPIO#
#           (115200) UART console baud rate
#
#####CONFIG_CONSOLE_UART_DEFAULT=
#####CONFIG_CONSOLE_UART_CUSTOM=y
#####CONFIG_CONSOLE_UART_NONE=
#####CONFIG_CONSOLE_UART_CUSTOM_NUM_0=y
#####CONFIG_CONSOLE_UART_CUSTOM_NUM_1=
#####CONFIG_CONSOLE_UART_NUM=0
#####CONFIG_CONSOLE_UART_TX_GPIO=22
#####CONFIG_CONSOLE_UART_RX_GPIO=23
#####CONFIG_CONSOLE_UART_BAUDRATE=115200

#
# Component => ESP-32 Specific => Panic Handler Behavior := Print registers and Halt
#
CONFIG_ESP32_PANIC_PRINT_HALT=y
CONFIG_ESP32_PANIC_PRINT_REBOOT=
CONFIG_ESP32_PANIC_SILENT_REBOOT=
CONFIG_ESP32_PANIC_GDBSTUB=

#
# Component => FreeRTOS
#
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_NONE=
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_PTRVAL=
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y

#
# Component => Heap memory debugging
#
CONFIG_HEAP_POISONING_DISABLED=
CONFIG_HEAP_POISONING_LIGHT=
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_HEAP_TRACING=

#
# Component => Log output
#
CONFIG_LOG_DEFAULT_LEVEL_NONE=
CONFIG_LOG_DEFAULT_LEVEL_ERROR=
CONFIG_LOG_DEFAULT_LEVEL_WARN=
CONFIG_LOG_DEFAULT_LEVEL_INFO=
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_DEFAULT_LEVEL=5
CONFIG_LOG_COLORS=y
