menu "MY PROJECT configuration"

config MY_LED_ON_DEVBOARD_GPIO_NUM
    int "LED on-board GPIO# (Huzzah32 #13) (Lolin32lite #22)"
	default 13

config MY_LED_ON_DEVBOARD_WIRING_TYPE
    int "LED on-board wiring type (Huzzah32 1=GND) (Lolin32lite 2=VCC)"
	default 1

config MY_SENSOR_I2C_MASTER_NUM
    int "MY_SENSOR_I2C_MASTER_NUM (0 = I2C_NUM_0 | 1 = I2C_NUM_1)"
	default 0

config MY_SENSOR_I2C_SLAVE_ADDRESS
    hex "MY_SENSOR_I2C_SLAVE_ADDRESS (Default 0x0C)"
	default 0x0C

config MY_SENSOR_I2C_SCL_GPIO_NUM
    int "MY_SENSOR_I2C_SCL_GPIO_NUM (Huzzah32 21 bottomleft)(Lolin32lite 13 bottomleft)"
	default 21

config MY_SENSOR_I2C_SDA_GPIO_NUM
    int "MY_SENSOR_I2C_SDA_GPIO_NUM (Huzzah32 17 bottomleft-1)(Lolin32lite 15 bottomleft-1)"
    default 17
    
config MY_SENSOR_INT_GPIO_NUM
    int "INT DRDY Data Ready pin MY_SENSOR_INT_GPIO_NUM (-1=not used)(Huzzah32 #14 bottomleft-1)(Lolin32lite #19 topright-2)"
    default 14
    
endmenu
